.leaflet-div-icon {
	background: transparent;
	border: none;
}

.leaflet-marker-icon .number{
	position: relative;
	top: -32px;
	font-size: 12px;
	width: 20px;
	text-align: center;
	color: white;
	font-weight: bold;
}